<!doctype html>
<html data-theme="light" lang="<%= site.locale %>">
  <head>
    <%= render "head", metadata: site.metadata, title: data.title %>
  </head>
  <body class="<%= data.layout %> <%= data.page_class %>">
    <main style="padding: 0.5rem 1rem" class="flow">
      <%= yield %>
    </main>

    <footer style="display: grid; place-content: center; background-color: rgba(0,0,0,0.1); padding: 0.5em;">
      Made by Konnor Rogers using Bridgetown + Shoelace + PicoCSS
    </footer>
  </body>
</html>
